header{
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color-dark);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 1.5rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: var(--secondary-color-light);
    cursor: pointer;
}

.img-title{
    font-size: 2.3rem;
    margin-right: 2rem;
    filter: drop-shadow(1px 1px 1px var(--secondary-color-light));
}

.product-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;    
    height: 60px;
    padding-right: 15px;
}

.product-navbar .search{
    width: 600px;
    height: 40px;
    border: 1px solid var(--secondary-color-dark);
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 0;
}

.product-navbar .search:focus{
    outline: none;
}   

.product-navbar .search-button{
    height: 40px;
    margin-left: 0;
    cursor: pointer;
    font-weight: bold;
    color: var(--primary-color-light);
    background-color: var(--secondary-color-light);
    border-style: none;
    border-radius: 5px;
}

.product-navbar .shopping-cart{
    font-size: 1.5rem;
    color: var(--secondary-color-light);
    position: relative;
    cursor: pointer;
}

.product-navbar .shopping-cart .cart-count{
    position: absolute;
    font-size: 1rem;
    top: -8px;
    right: -8px;
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(126, 214, 115);
    color: #fff;
}

@media (max-width: 768px) {

    header {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .title span{
        display: none;
    }

    .product-navbar .search-button{
        display: none;
    }

    .product-navbar{
        width: 80%;
    }
    .product-section{
        width: 100%;
    }
    
    .product-navbar .search{
        width: 80%;
    }
}