:root{
    --primary-color: #f58544;
    --primary-color-light: #f9a865;
    --primary-color-dark: #c94800;
    --secondary-color: #f0f0f0;
    --secondary-color-light: #fafafa;
    --secondary-color-dark: #bebdbd;
    --neutral-color: #2e2e2e;
}

body{
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-color-dark);
    background-color: var(--secondary-color-light);
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-direction: row;
}

.main-container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.left-filters{
    width: 15%;
    border-right: solid 5px var(--primary-color);
    text-align: center;
    padding-top: 2.5rem;
}

.left-filters > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.left-filters > div {
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px 0;
    margin: 1rem 0;
    border-bottom: var(--primary-color-light) solid 5px;
}

.left-filters > div > span {
    color: var(--secondary-color-light);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.left-filters .option {
    cursor: pointer;
    padding: 15px 0;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.left-filters .order-by {
    cursor: pointer;
}

.left-filters .order-by-categories {
    cursor: pointer;
    padding: 15px 0;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
}



.order-by-prices:hover,
.order-by-names:hover{
    border-right: var(--primary-color-light) solid 2px;
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
    font-weight: bold;
}

.order-by-categories:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
}




#app{
    /* border: 2px solid blue; */
}