:root{
    --primary-color: #f58544;
    --primary-color-light: #f9a865;
    --primary-color-dark: #c94800;
    --secondary-color: #f0f0f0;
    --secondary-color-light: #fafafa;
    --secondary-color-dark: #bebdbd;
    --neutral-color: #2e2e2e;
}

body{
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-color-dark);
    background-color: var(--secondary-color-light);
}

